* {
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 30px 0 30px 0;
  background: #343a40;
  color: #fff;
  text-align: center;
}

header h1 {
  display: inline;
  margin-left: 15px;
  font-weight: 300;
}

form {
    padding-top: 20px;
  background: lightgray;
  text-align: center;
}
label, input, button, select {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}
.filter-bar {
    margin-top: 20px;
    padding-bottom: 20px;
}
.search-results-wrapper {
    width: 80%;
    margin: 20px auto;
}
.search-results-item{
    width: 19%;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}

.search-results-item .bookImage {
  width: 100%;
}
.search-results-item h2 {
    display: block;
    height: 87px;
    overflow-y: auto;
}
.search-results-item p {
    display: block;
    height: 200px;
    overflow-y: auto;
}
